.studentgrade {
    border: 3px solid black;
    width: 100%;
    height: 25%;
    margin-top: 1%;

    text-align: center;
  }

  .nfs {
    border: 3px solid black;
    width: 100%;
    height: 25%;
    margin-top: 1%;
    text-align: center;
  }

  .netsal{
    border: 3px solid black;
    width: 100%;
    height: 25%;
    margin-top: 1%;
    text-align: center;

  }

  .container {
    display: flex;
    gap: 10px;
  }

  .container-2 {
    display: flex;
    gap: 10px;
  }


