.netsal {
  border: 3px solid black;
  width: 50%;

  height: 79vh;
  text-align: center;
}

.nfs {
  border: 3px solid black;
  width: 50%;

  height: 79vh;
  text-align: center;
}

.studentgrade {
  border: 3px solid black;
  width: 50%;

  height: 79vh;
  text-align: center;
}

.container {
  display: flex;
  align-items: flex-start;
  gap: 10px;
  height: 79vh;
}
